{
    "source": {
        "directories": [
            "src"
        ]
    },
    "logs": {
        "badge": {
            "branch": "master"
        }
    },
    "mutators": {
        "@default": true
    }
}
